<p>

<%= image_tag 'hyakunin/e' << @card.card_id << '.jpg', :width => 100 %>
<%= image_tag 'hyakunin-tori/tori-' << @card.card_id << '.png', :width => 100 %>
</p>
<p>
上の句：
<%= @card.first_half %>
</p>
<p>
下の句：
<%= @card.latter_half %>
</p>
<p>
作者：
<%= @card.author %>
</p>

