
<div class = 'subtitle'>
	結果
</div>
<% if @is_match then %>
	<div id='res'>
	◎	
	</div>
	<p>正解！！</p>
<% else %>
	<div id='res'>
	×
	</div>
	<p>お手付き。。。</P>
<% end %>

<div class='subtitle'>
あなたが取った札
</div>

<!-- 部分テンプレートを使ってみる -->
<%= render 'shared/poem_detail' %>


<div class = 'subtitle'>累計結果</div>
<p>正解: <%= @win_count %></p>
<p>お手付き: <%= @loss_count %></p>


<p>
<% if @is_match == false then %>
	<%= link_to '再チャレンジ', '/japanese_poems/play_game/' << @subject_poem.id.to_s %>| 
<% end %>

<%= link_to '次へ', '/japanese_poems/play_game' %>
</p>
