<p>
<div id = "question">
	<%= image_tag 'yomite.png', :id => 'yomite', :width => 100 %>
	<div id = "kaminoku">
			<%= image_tag 'fukidashi.jpg', :id => 'fukidashi', :width => 320, :heigth => 20 %>
			<div id="first_half">
			<%= @subject_poem.first_half %>...
			</div>
	</div>
	
	<div id = "help">
		<%= image_tag 'hinto.png', :id => 'helper', :width => 70 %>
		<div id = "hint">
			<div id = "hint-poet">
				<div class="triangle"></div>
				<div class = "hint-str"> 
						やや。ヒントですかな？作者は<br>「
						<%= @subject_poem.poet %>
						」ですぞ。	
				</div>
			</div>	

			<div id = "hint-place">
				<div class="triangle"></div>
				<div class = "hint-str"> 
						やや。ヒントですかな？縁の地は<br>「
						<%= if @subject_poem.related_place == nil 
									"不明"
								else
									@subject_poem.related_place
								end%>
						」ですぞ。	
				</div>
			</div>	

			<div id = "hint-translation">
				<div class="triangle"></div>
				<div class = "hint-str"> 
						やや。ヒントですかな？口語訳は<br>「
						<%= @subject_poem.modern_translation %>
						」ですぞ。	
				</div>
			</div>	






		</div>
	</div>


</div>


<div id = "cards">
<% @remining_poems.each do |poem| %>
<%= link_to image_tag(poem.lasthalf_imagefile, :width => 100),check_answer_path(@subject_poem,poem)%>
<%	end %>
</div>
</p>
