<p>
<div id = "question">
	<%= image_tag 'yomite.png', :id => 'yomite', :width => 100 %>
	<div id = "kaminoku">
			<%= image_tag 'fukidashi.jpg', :id => 'fukidashi', :width => 320, :heigth => 20 %>
			<div id="first_half">
			<%= @subject_poem.first_half %>...
			</div>
	</div>
	
	<div id = "help">
		<%= image_tag 'hinto.png', :id => 'helper', :width => 70 %>
		<div id = "hint">
			<div class="triangle"></div>
			<div id = "hint-str"> 

					やや。ヒントですかな？歌の口語訳は、<br>「
					<%= @subject_poem.modern_translation %>
					」ですぞ。	
			</div>
		</div>
	</div>


</div>


<div id = "cards">
<% @remining_poems.each do |poem| %>
<%= link_to image_tag(poem.lasthalf_imagefile, :width => 100),check_answer_path(@subject_poem,poem)%>
<%	end %>
</div>
</p>
